*.o
.depend*
*.ko
*.ko.full
*.ko.debug
acpi_if.h
bus_if.h
device_if.h
fb_if.h
pci_if.h
pci_iov_if.h
vnode_if.h
vnode_if_newproto.h
vnode_if_typedef.h
opt_*.h
machine
x86
i386
generated/
xe_gen_wa_oob
xe_wa_oob.c
xe_wa_oob.h
